@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family-heading: "Space Grotesk";
  }
}

@layer utilities {
  .bounce-slow {
    @apply animate-bounce;
    animation-duration: 3s;
    animation-delay: 1s;
  }
  .bounce-very-slow {
    @apply animate-bounce;
    animation-duration: 3s;
  }
  .pulse-slow {
    @apply animate-pulse;
    animation-duration: 2s;
  }

  .bg-dots {
    background-image: radial-gradient(
      circle at 2px 2px,
      #fff 1px,
      transparent 0
    );
    background-size: 40px 40px;
  }
}
